<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Event Booking App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login-page">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-page">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reset-password-page">Reset Password</a>
          </li>
        </ul>
  
      </div>
    </div>
  </nav><br>
<div class="container">
    <h1 class="my-5">Reset Password</h1>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Password reset link send to your email.</div>
          </div>
        <button type="submit" class="btn btn-primary" style="background:brown; border-color: inherit;">Reset Password</button>
    </form>
</div>