<app-navbar></app-navbar> <br>
<div class="container">
  <br>
  <h1 class="text-center mb-3">Event Booking App</h1>
  <h2>Events</h2> <br>
  <div *ngIf="this.events.length===0; else elseBlock">No events to display.</div>
  <ng-template #elseBlock>
    <div class="row">
    <ul class="col-md-3 mx-auto my-5" *ngFor="let event of events, index as sno">
        <div class="card"  style="width: 18rem;" (click)="index(event.sno)">
            <img src="../../../assets/event.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text" style="font-family: Arial, Helvetica, sans-serif;
             font-style: italic; color: dodgerblue;"> &nbsp; &nbsp; {{event.title}}</p>
            <h5 class="card-title">Description</h5>
            <p class="card-text" style="font-family: Arial, Helvetica, sans-serif;
            font-style: italic; color:lightcoral"> &nbsp; &nbsp; {{event.desc}}</p>
          </div>
        </div>
    </ul>
  </div>
  </ng-template>
</div>